### Estructuras y funciones

In [2]:
import pandas as pd
path = 'Online_Retail.csv'
retail_data = pd.read_csv(path, encoding='ISO-8859-1')

In [3]:
#Nombres de columnas
column_names = retail_data.columns
print(column_names)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [4]:
num_rows, num_columns = retail_data.shape
print('Numero de filas: ', num_rows)
print('Numero de columnas: ', num_columns)

Numero de filas:  541909
Numero de columnas:  8

In [5]:
daily_sales = retail_data['Quantity']
print(daily_sales)

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64

In [6]:
summary = retail_data.describe()
print(summary)

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [7]:
mean_value = daily_sales.mean()
print('Promedio de ventas diarias: ', mean_value)

Promedio de ventas diarias:  9.55224954743324

In [8]:
median_value = daily_sales.median()
print('Mediana de ventas diarias: ', median_value)

Mediana de ventas diarias:  3.0

In [9]:
total_sales = daily_sales.sum()
print('Ventas totales: ', total_sales)

Ventas totales:  5176450

In [10]:
count_values = daily_sales.count()
print('Numero de ventas: ', count_values) #numero de ventas no nulas

Numero de ventas:  541909

In [13]:
daily_sales = pd.Series([10, 20, None, 40, 50])

#Suma de Quantity
total_sum = daily_sales.sum()
print('Suma de Quantity: ', total_sum)

#Conteo de Quantity
count_values = daily_sales.count()
print('Conteo de Quantity: ', count_values)

Suma de Quantity:  120.0
Conteo de Quantity:  4

In [15]:
retail_data.head(8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/10 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/10 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/10 8:28,1.85,17850.0,United Kingdom