In [1]:
import pandas as pd

In [ ]:
path = 'Online_Retail.csv'
retail_df = pd.read_csv(path, 
                        encoding='ISO-8859-1') # read the csv file into a DataFrame
# Use encoding='ISO-8859-1' to read the file correctly with special characters in the dataset 
# like £, é, etc. 
print(retail_df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/10 8:26       2.55     17850.0  United Kingdom
1        12/1/10 8:26       3.39     17850.0  United Kingdom
2        12/1/10 8:26       2.75     17850.0  United Kingdom
3        12/1/10 8:26       3.39     17850.0  United Kingdom
4        12/1/10 8:26       3.39     17850.0  United Kingdom
...               ...        ...         ...             ...
541904  12/9/11 12:50       0.85     12680.0          France
541905  12/9/11 12:50       2.10     12680.0          France
541906  12/9/11 12:50       4.15     12680.0          France
541907  12/9/11 12:50       4.15     12680.0          France
541908  12/9/11 12:50       4.95     12680.0          France

[541909 rows x 8 columns]

In [ ]:
#Read Excel file
#retail_df = pd.read_excel(path) # read the excel file into a DataFrame

In [ ]:
#Read JSON file
#retail_df = pd.read_json(path) # read the json file into a DataFrame

In [3]:
path = 'Online_Retail.csv'
sales_data = pd.read_csv(path, encoding='ISO-8859-1')
print(sales_data.head()) # print the first 5 rows of the DataFrame

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [5]:
import numpy as np

data = np.array([[1,2,3], [4,5,6], [7,8,9]])

df_from_array = pd.DataFrame(data,columns=['A','B','C'])
print(df_from_array)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
data = [[1,'John',22],[2,'Ana',24]]
df_from_list = pd.DataFrame(data, columns=['Id','Name','Age'])
print(df_from_list)

   Id  Name  Age
0   1  John   22
1   2   Ana   24

In [ ]:
data = [{'Id':1,
         'Name':'John',
         'Age':22},
         {'Id':2,
          'Name':'Ana',
          'Age':24}
        ]
df_from_dict = pd.DataFrame(data)
print(df_from_dict)

   Id  Name  Age
0   1  John   22
1   2   Ana   24

In [9]:
data = {'Id':[1,2,3], 'Name':['John','Ana','Mike'], 'Age':[22,24,21]}
df_from_dict = pd.DataFrame(data)
print(df_from_dict)

   Id  Name  Age
0   1  John   22
1   2   Ana   24
2   3  Mike   21

### Series

In [10]:
#Crear un DataFrame a partir de un diccionario de Series
data = {
    'Id': pd.Series([1,2,3]),
    'Name': pd.Series(['John','Ana','Mike']),
    'Age': pd.Series([22,24,21])
}
df_from_dict = pd.DataFrame(data)
print(df_from_dict)

   Id  Name  Age
0   1  John   22
1   2   Ana   24
2   3  Mike   21